.HobbiesListOptions {
    display: inline-block;
    position: relative;
}
.Hobbies{
    height:calc(100% - 20px);
    overflow: scroll;
}
.HobbiesList{
    width: 100%;
}
.newHobbyForm{
    display: flex;
}
.MuiGrid-container {
     width: 100%;
     display: flex;
     flex-wrap: nowrap;
     box-sizing: border-box;
 }
.MuiFormControl-marginNormal{
    margin: 10px;
}